@font-face {
    font-family: 'League Spartan';
    src: url('./vendor/league-spartan-master/_webfonts/leaguespartan-bold.eot');
    src: url('./vendor/league-spartan-master/_webfonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('./vendor/league-spartan-master/_webfonts/leaguespartan-bold.woff2') format('woff2'),
         url('./vendor/league-spartan-master/_webfonts/leaguespartan-bold.woff') format('woff'),
         url('./vendor/league-spartan-master/_webfonts/leaguespartan-bold.ttf') format('truetype'),
         url('./vendor/league-spartan-master/_webfonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}



@font-face {
    font-family: 'open_sansregular';
    src: url('./vendor/opensans_regular/opensans-regular-webfont.eot');
    src: url('./vendor/opensans_regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./vendor/opensans_regular/opensans-regular-webfont.woff2') format('woff2'),
         url('./vendor/opensans_regular/opensans-regular-webfont.woff') format('woff'),
         url('./vendor/opensans_regular/opensans-regular-webfont.ttf') format('truetype'),
         url('./vendor/opensans_regular/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
