@define-mixin card-typography  {
  & .card-headline {
    /*font-weight: 100;*/
    text-transform: uppercase;
    /*text-align: center;*/
  }
}

.card {
  @mixin card-typography;
  /*background-color: #fff;*/
  margin: 0 auto 1em auto;

  & .card-header,
  & .card-footer {
    padding: .5em 2em;
  }

  & .card-content.is-nested {
    margin-left: 2em;
    margin-right: 2em;
  }
}
