card-typography()
  & .card-header h1
    // font-weight 100
    text-transform uppercase
    // text-align center

.card
  card-typography()
  box-shadow 0px 24px 50px 0px rgba(142,136,127,.3);
  background-color #fff
  margin 0 auto 1em auto
  // border 1px solid #fdfdfd
  // overflow hidden

  & .card-header,
  & .card-footer
    padding 1em 2em

  // & .card-header
  //   padding-left 10%
