card-typography()
  & .card-header .card-headline
    // font-weight 100
    text-transform uppercase
    // text-align center

.card
  card-typography()
  box-shadow card-shadow
  background-color #fff
  margin 0 auto 1em auto
  // border 1px solid #fdfdfd
  // overflow hidden

  & .card-header,
  & .card-footer
    padding 1em 2em

  // & .card-header
  //   padding-left 10%
