.code-block
  margin 0
  background: #b6b0ac;
  // padding .8em
  padding-left 2em

.code-block-line
  background: #f5f2f0;
  padding-left .5em
  padding-top .1em
  padding-bottom .1em

  &:first-of-type
    padding-top 1em

  &:last-of-type
    padding-bottom 1em
