.code-block {
  margin: 0;

  padding-left: 2em;
  counter-reset: olcounter;

  overflow: scroll;

  position: relative;

  &, &:before {
    background: #272822;
  }

  &:before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;

    position: absolute;
    top: -.3em;
    left: 2em;

    transform: rotate(45deg);
  }
}




.code-block-line {
  padding-left: .5em;
  padding-top: .1em;
  padding-bottom: .1em;
  /*border-left 1px solid #fff*/
  list-style-type: none;

  &:before {
    position: relative;
    left: -1.5em;

    content: counter(olcounter);
    counter-increment: olcounter;
    color: #4e4e4a;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
  }

  &:first-of-type {
    padding-top: 1em;
  }

  &:last-of-type {
    padding-bottom: 1em;
  }

  code[class*="language-"] {
    /*background-color transparent*/
    color: #ff8fb4;
  }
}
