global-normalize()

@require 'globals/font-faces'
@require 'globals/colors'
@require 'globals/shadows'
@require 'globals/gradients'
@require 'globals/typography'
@require 'globals/defaults'

.main-backdrop
  position fixed
  z-index -1

  width 100%
  height 100%

  background #A7A095 linear-gradient(135deg, #FFF 0%, #e4e0dc 35%)

  // fix background gradient
  background-repeat no-repeat
  background-attachment fixed

.main-content
  padding 1em

@require 'moleculars/*'
