doctype html
html
  head
    title elevatory styleguide
    link(rel="stylesheet", href="../vendor/prism.css")
    link(rel="stylesheet", href="../elevatory.css")
  body
    .main-backdrop
    .main-content
      include moleculars/index
    
    script(src="../vendor/prism.js")
    script(src="../node_modules/structure-assertions/dist/structure-assertions.js")
    script(src="../structure-assertions/assertions.js")
